{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
  {% crispy form %}
{% endblock %}

{% block jquery %}
  <script type="text/javascript">
      $(document).ready(function() {
        $('<input>', {
          type: 'hidden',
          name: 'variables',
          value: '{{ request.GET.variables }}'
        }).appendTo('form');
        $('<input>', {
          type: 'hidden',
          name: 'constraints',
          value: '{{ request.GET.constraints }}'
        }).appendTo('form');
      });
  </script>
{% endblock %}
